In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Question 1

In [4]:
df_ords_prior = pd.read_csv(r'/Users/matthewerrington/08-2020 Instacart Basket Analysis/02 Data/Prepared Data/order_products__prior.csv', index_col = False)

In [7]:
df_ords = pd.read_csv(r'/Users/matthewerrington/08-2020 Instacart Basket Analysis/02 Data/Prepared Data/ords_checked.csv', index_col = False)

In [6]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 9)

In [13]:
# Merge ords_prior and ords

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

### Question 2

In [17]:
# Export df_merged_large as PKL file
path = r'/Users/matthewerrington/08-2020 Instacart Basket Analysis'
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))